body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: grid;
  justify-content: center;
  margin-top: 14vh;
}
/* Screen Section */
input{
  width: 316px;
  height: 9vh;
  border: 2px solid;
  padding: 10px 0px 9px 3px;
}
/* Button collection class */
.btns {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: 2px solid;
    background: black;
    border-radius: 6px;
}
button.singleBtn {
  height: 57px;
  width: 80px;
  font-size: larger;
    background: black;
    color: white;
    cursor: pointer;
}